
<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Book Title Filter:</div>
      <div class='col-md-4'>
        <input type='text' 
              [(ngModel)]='listFilter'/>
      </div>
      <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}} </h4>
        </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
              *ngIf='books && books.length'>
        <thead>
          <tr>
            <th>
                <app-modal-new-book (onSaveClick)='onSaveNewBook($event)'>
                </app-modal-new-book>
            </th>
            <th>Id</th>
            <th>Author Name</th>
            <th>Published Date</th>
            <th>Book Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let book of filteredBooks'>
            <td>
              <img *ngIf='showImage'
                  [src]='book.ImageUrl' [title]='book.bookName'
                  [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
            </td>
            <td>{{book.id}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.publishedDate}}</td>
            <td>{{book.bookTitle | titlecase | onlyEnglishLetters}}</td>
            <td>
              <app-modal-edit-book [myBook]="book"
                (saveClicked)='onSaveClicked($event)'></app-modal-edit-book>
              <button class="btn btn-lg btn-outline-primary" (click)="deleteBook(book.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
